<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="FileBrowserUserName" value="IOuser"/>
    <add key="FileBrowserUserDomain" value="IOdomain"/>
    <add key="FileBrowserUserPwd" value="IOpassword"/>
    <add key="FileBrowserInitialPath" value="C:\"/>
  </appSettings>
  <connectionStrings>
    <add name="EPConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|pos.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <pages theme="Doctor" enableEventValidation="false" masterPageFile="~/MasterPage.master" validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <globalization uiCulture="en" culture="en-US"/>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" slidingExpiration="true" timeout="180" name=".ASPXFORMSAUTH"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx" redirectMode="ResponseRewrite"/>
  </system.web>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="tms1.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ErrorPage.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SaveToFile.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>