################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExamPatient/Data
/ExamPatient/UploadedImages
/ExamPatient/ExamPatient.v12.suo
